<div class="card">
        <div class="card-body">
          <form [formGroup]="gst_editForm" novalidate>
            <div class="form-group">
              <label class="col-md-4">Person Name</label>
              <input type="text" class="form-control" formControlName="person_name" #person_name [(ngModel)] = "business.person_name" />
            </div>
            <div *ngIf="gst_editForm.controls['person_name'].invalid && (gst_editForm.controls['person_name'].dirty || gst_editForm.controls['person_name'].touched)" class="alert alert-danger">
              <div *ngIf="gst_editForm.controls['person_name'].errors.required">
                Person Name is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Business Name </label>
              <input type="text" class="form-control" formControlName="business_name" #business_name [(ngModel)] = "business.business_name" />
            </div>
            <div *ngIf="gst_editForm.controls['business_name'].invalid && (gst_editForm.controls['business_name'].dirty || gst_editForm.controls['business_name'].touched)" class="alert alert-danger">
              <div *ngIf="gst_editForm.controls['business_name'].errors.required">
                Person Business is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Business GST Number </label>
              <input type="text" class="form-control" formControlName="business_gst_number" #business_gst_number [(ngModel)] = "business.business_gst_number" />
            </div>
            <div *ngIf="gst_editForm.controls['business_gst_number'].invalid && (gst_editForm.controls['business_gst_number'].dirty || gst_editForm.controls['business_gst_number'].touched)" class="alert alert-danger">
              <div *ngIf="gst_editForm.controls['business_gst_number'].errors.required">
                Business GST Number is required.
              </div>
            </div>
            <div class="form-group">
              <button  type="button" (click)="updateBusiness(person_name.value, business_name.value, business_gst_number.value)"
              [disabled]="gst_editForm.invalid" 
              class="btn btn-primary">Update Business</button>
            </div>
          </form>
        </div>
      </div>